body {
  font-family: Arial, sans-serif;
  background: url("./Images/streets_background.gif") repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto; /* Make the body scrollable */
}

.App {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1200px; /* Increase the width to make it wider */
  min-width: 1000px; /* Set a minimum width to ensure it stays wide */
  width: 100%;
  text-align: center;
  margin: 20px;
  min-height: 800px; /* Set a minimum height to prevent resizing */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-list {
  max-height: 400px; /* Set a max height for the transaction list */
  overflow-y: auto; /* Make the transaction list scrollable */
  margin-top: 20px; /* Add some space between the buttons and the transaction list */
}

.transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.transaction select,
.transaction input {
  margin: 0 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; /* Add some space between the mode select and buttons */
}

.currency-selector {
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50px; /* Set fixed width */
  height: 50px; /* Set fixed height */
}

.item-image {
  width: 100%; /* Ensure image fits the container */
  height: 100%; /* Ensure image fits the container */
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.made-by {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.eth-donations {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

select,
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 14px;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.bets-list {
  margin-top: 20px;
  text-align: left;
}

.bets-list-content {
  max-height: 300px; /* Set a max height for the bets list */
  overflow-y: auto; /* Make the bets list scrollable */
}

.bet {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bet-info {
  flex-grow: 1;
}

.bet h4,
.bet p {
  margin: 0;
}

.bet ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.bet ul li {
  margin: 5px 0;
}

.remove-bet {
  background-color: #dc3545;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.remove-bet:hover {
  background-color: #c82333;
}

.remove-all-bets {
  background-color: #dc3545;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

.remove-all-bets:hover {
  background-color: #c82333;
}

.total-hc {
  text-align: center;
  margin-top: 10px;
}
